/* ===================== CONTOH =================== */

/* Selektor dengan nama tag */
h2 {
    color: blue;
}

/* Selektor degnan class */
.bg-yellow {
    background-color: yellow;
}

/* selektor dengan ID elemen */
#header {
    background: grey;
}

/* Selektor dengan Atribut */
input[type=text] {
    background: yellow;
}

/* ===================== MY SCRIPT =================== */
/*1. intro.html */
/* selector tag */
p {
    color: blue;
}

/* selector class */
.blues {
    color: white;
    background: blue;
    padding: 5px;
}

.text-white {
    color: white;
}

.bg-teal {
    background: teal;
}

/* selector id */
#header {
    background: teal;
    color: white;
    height: 100px;
    padding: 50px;
}

/* selector attribut */
/* kita akan memilih semua elemen <input> yang memiliki atribut type='text'. */
input[type=text] {
    background: none;
    color: cyan;
    padding: 10px;
    border: 1px solid red;
}

/* css universal */
/* Pada halaman HTML, ada beberapa CSS bawaan browser seperti padding dan margin pada elemen tertentu.

Reset bertujuan untuk menghilangkan padding dan margin tersebut. */
* {
    padding: 0;
    margin: 0;
}

/*2. margin.html */
.margin {
    background: blue;
    height: 200px;
    width: 300px;
    margin: 20px;
    /*jarak sisi luar sebesar 20 pixel*/
    padding: 20px;
    /*jarak sisi dalam sebesar 20 pixel*/
}

.margin-dua {
    background: red;
    height: 100px;
    width: 200px;
    margin-left: 70px;
    padding-left: 20px;
}

/*3. font.html */
/*
font-size digunakan untuk mengatur ukuran font
font-weight di gunakan untuk mengatur ketebalan font
font-family untuk mengubah jenis font
font-style digunakan untuk merubah gaya pada font.
color digunakan untuk merubah warna font.
*/

.text_satu {
    color: red;
    font-family: sans-serif;
    font-style: normal;
}

.text_dua {
    color: green;
    font-size: 24pt;
    font-style: italic;
}

.text_tiga {
    color: red;
    font-weight: bold;
    font-style: oblique;
}

/*4. hyperlink.html */

/*
4 status hyperlink :
link . merupakan link aktif biasa.
 visited. merupakan status sebuah link yang telah di kunjungi.
 hover. merupakan status sebuah link pada saat diletakkan cursor mouse di atasnya.
 active. merupakan status sebuah link atau hyperlink pada saat sudah di klik.
*/

/*
penggunaan/ pemanggilan hyperlink pada CSS
a:link = untuk link biasa
 a:visited = merupakan status sebuah link yang telah di kunjungi.
 a:hover = merupakan status sebuah link pada saat diletakkan cursor mouse di atasnya.
 a:active = merupakan status sebuah link atau hyperlink pada saat sudah di klik.
 */

.linked {
    font-size: 20pt;
}

.linked:hover {
    color: red;
}

.linked:linked {
    color: blueviolet;
}

.example-link,
.example-link:link,
.example-link:active,
.example-link:visited {
    font-size: 20pt;
    background: yellow;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
}

.example-link:hover {
    background: #16A085;
}

/*5. text.html */
/*
color
Di gunakan untuk mengatur warna text, value yang dapat di isi berupa warna atau kode
warna.

text-align
Di gunakan untuk mengatur posisi align pada text atau rata text, value yang bisa di isi
diantaranya adalah center untuk membuat text rata tengah, left untuk membuat text
menjadi rata kiri, right untuk membuat text menjadi rata kanan dan justify untuk
membuat text menjadi rata kanan dan rata kiri.

text-decoration
Di gunakan untuk mengatur dekorasi text, value nya berupa none untuk membuat text
tidak memiliki dekorasi, overline untuk membuat text memiliki garis pada bagian atas
text, line-through untuk membuat garis yang mencoreng pada text, dan underline untuk
membuat garis pada bawah text(garis bawah).

text-transform
Digunakan untuk mengatur huruf kapital pada text, value yang bisa di gunakan
diantaranya adalah uppercase untuk membuat text menjadi huruf besar, lowercase untuk
membuat text menjadi huruf kecil, dan capitalize untuk membuat huruf awal pada tiap
kata menjadi huruf besar.

text-indent
Digunakan untuk mengatur jarak alinea pada text, value yang bisa digunakan berupa nilai
pixel dan lainnya sesuai kebutuhan.

text-spacing
Digunakan untuk mengatur jarak antar karakter pada text, value yang di isi berupa nilai
pixel dan lain-lain. Mengatur Format Text Dengan CSS.

word-spacing
Digunakan untuk mengatur jarak antar kata pada text, value yang di isi juga berupa nilai
pixel.

line-height
Digunakan untuk mengatur jarak antar baris pada text value yang di isi berupa nilai.

text-shadow
Digunakan untuk mengatur efek bayang pada text, value yang di isikan pertama mengisi
nilai untuk jarak kiri kanan, dan kedua mengisi jarak atas bawah dan yang ketiga mengisi
warna. untuk contoh penulisanya 2px 5px blue.

vertical-align
Digunakan untuk mengatur align dalam bentuk vertikal pada text value yang digunakan
adalah left untuk membuat text rata kiri, right untuk rata atas dan center untuk rata
tengah.
*/

.text_warna {
    color: blue;
}

.text_kiri {
    text-align: left;
    text-decoration: underline;
}

.text_kanan {
    text-align: right;
    text-transform: capitalize;
    text-decoration: overline;
}


.text_tengah {
    text-align: center;
    text-transform: lowercase;
    text-decoration: line-through;
    word-spacing: 10px;
}

.text_justify {
    text-align: justify;
    text-indent: 30px;
    line-height: 30px;
    letter-spacing: 5px;
}

/*6. position.html */
/*
property CSS yang dapat digunakan untuk menentukan posisi sebuah
element HTML

Static
Position static digunakan untuk mengatur element menjadi statis secara default. element
akan mengikuti posisi normal secara default.

Relative
Sebuah element HTML yang menggunakan position relative akan terletak pada posisi normal.

Fixed
Sebuah element HTML yang di setting dengan position fixed akan memiliki sifat tetap.
tanpa ada perubahan bahkan jika halaman website di scroll. berlaku pengaturan left, bottom, top
dan right pada position fixed.

Absolute
Element HTML yang menggunakan position absolute akan tertimpa dengan element lain.
position adalah salah satu propertyposition css yang sangat berguna. salah satunya adalah untuk
membuat menu dropdown dengan HTML dan CSS.
*/

.static {
    background: blue;
    position: static;
}

.relative {
    background: red;
    position: relative;
    left: 40px;
    padding: 10px;
}

.fixed {
    background: cyan;
    position: fixed;
    left: 40px;
    padding: 10px;
}

.absolute {
    background: green;
    position: absolute;
    left: 40px;
    padding: 10px;
}

/*7. border.html */
/*
 border-bottom, Mengatur garis yang terletak di bawah.
 border-bottom-color, Mengatur warna garis yang terletak di bawah.
 border-bottom-style, Mengatur style garis yang terletak di bawah.
 border-bottom-width, Mengatur ukuran garis yang terletak di bawah.
 border-color, Mengatur warna garis.
 border-left, Mengatur garis yang terletak di sebelah kiri.
 border-left-color, Mengatur warna garis yang terletak di sebelah kiri.
 border-left-style, Mengatur style garis yang terletak di sebelah kiri.
 border-left-width, Mengatur ukuran garis yang terletak di sebelah kiri.
 border-right, Mengatur garis yang terletak di sebelah kanan.
 border-right-color, Mengatur warna garis yang terletak di sebelah kanan.
 border-right-style, Mengatur style garis yang terletak di sebelah kanan.
 border-right-width, Mengatur ukuran garis yang terletak di sebelah kanan.
 border-style, Mengatur style garis.
 border-top, Mengatur garis yang terletak di sebelah atas.
 border-top-color, Mengatur warna garis yang terletak di sebelah atas.
 border-top-style, Mengatur style garis yang terletak di sebelah atas.
 border-top-width, Mengatur ukuran garis yang terletak di sebelah atas.
 border-width, Mengatur ukuran garis.
*/
#border_solid {
    border-style: solid;
    border-width: 5px;
}

#border_dotted {
    border-style: dotted;
    border-width: 10px;
    border-color: red;
}

#border_dashed {
    border-style: dashed;
    border-width: 3px;
    border-color: blue;
}

#border_double {
    border-style: double;
    border-width: 9px;
    border-color: green;
}

#border_groove {
    border-style: groove;
    border-width: 25px;
    border-color: #12ff00;
}

#border_inset {
    border-style: inset;
    border-width: 5px;
    border-color: yellow;
}

#border_outset {
    border-style: outset;
    border-width: 5px;
    border-color: violet;
}

#border_ridge {
    border-style: ridge;
    border-width: 50px;
    border-color: #333333;
}

/* Cara cepat memanipulasi border dengan CSS */
#border_solid2 {
    border: 1px solid blue;
}

#border_dotted2 {
    border: 10px dotted green;
}

/*8. list.html */

h1 {
    text-align: center;
}

ul,
.makanan {
    list-style-type: square;
    /* list dengan bentuk square */
}

.minuman {
    list-style-type: circle;
    /* list dengan bentuk lingkaran */
}


.alamat {
    list-style-type: upper-alpha;
    /* list dengan bentuk alpha */
}

.mobil {
    list-style-type: none;
    /* menghilangkan tanda list */
    list-style-type: upper-roman;
    /* list dengan bentuk romawi */
}